<footer class="footer">
  <div class="footer__content">
    <p class="footer__text">© 2023 Inspire Website. All rights reserved.</p>
    <ul class="footer__social-icons">
      <li>
        <a href="#" class="footer__social-link"
          ><i class="fab fa-facebook"></i
        ></a>
      </li>
      <li>
        <a href="#" class="footer__social-link"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li>
        <a href="#" class="footer__social-link"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
    </ul>
  </div>
</footer>
